<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multimedia.writeyourthink">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WriteYourThink">
        <activity android:name="com.multimedia.writeyourthink.LoginActivity">

        </activity>
        <activity android:name="com.multimedia.writeyourthink.ResultActivity"></activity>
        <activity android:name="com.multimedia.writeyourthink.DBActivity">

        </activity>
        <activity
            android:name="com.multimedia.writeyourthink.SplashActivity3"
            android:theme="@style/SplashTheme2" />
        <activity
            android:name="com.multimedia.writeyourthink.SplashActivity2"
            android:fitsSystemWindows="true"
            android:theme="@style/SplashTheme2" />
        <activity
            android:name="com.multimedia.writeyourthink.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/black">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.multimedia.writeyourthink.MainActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>